<h1>
    <a class="navbar-brand" routerLink="/" style="color:inherit; font-size:3vmin;"><img
            src="/assets/customImage/bookingLogo.jpeg" height="50vmin"
            width="50vmin" />&nbsp;<b>ValenceDirectBookingRentals</b></a>
</h1>

<hr />
<div class="container-fluid">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <mat-horizontal-stepper linear>
                <mat-step label="Payment Method" [completed]="showPaymentMethodSection">
                </mat-step>
                <mat-step label="New Booking Information" [completed]="showNewBookingSection">
                </mat-step>
            </mat-horizontal-stepper>

        </div>
        <div class="col-md-3"></div>
    </div>


    <div class="row mb-5 mx-1" [hidden]="showPaymentMethodSection">

        <div class="col-md-3"></div>
        <div class="col-md-6 card">
            <div class="row my-2">
                <div class="col-md-12" align="center">
                    <h2>Payment Method</h2>
                </div>
            </div>

            <div class="row my-2 mx-2">
                <div class="col-sm-12">
                    <h1 class="my-2" style="color:red;" *ngIf="showCreditCardPaymentInfoError">Please check your card
                        details and retry again or you try alternative method of payment</h1>
                    <h3>Credit Cards&nbsp;<span class="fa fa-credit-card" style="font-size:20px;"></span>&nbsp;
                        <span class="fa fa-cc-mastercard" style="font-size:20px;"></span>&nbsp;
                        <span class="fa fa-cc-visa" style="font-size:20px;"></span>&nbsp;
                        <span class="fa fa-cc-discover" style="font-size:20px;"></span>&nbsp;
                        <span class="fa fa-cc-amex" style="font-size:20px;"></span>
                    </h3>

                </div>

            </div>
            <div class="row mt-2 mb-3 mx-2">
                <div class="col-sm-12">
                    <label for="cardType">Card Type: </label>
                    <select class="form-control" id="cardType" name="cardType">
                        <option value="visa">Visa</option>
                        <option value="mastercard">Mastercard</option>
                        <option value="discover">Discover</option>
                        <option value="amex">American Express</option>
                    </select>
                </div>
            </div>
            <div class="row my-3 mx-2 gy-4">
                <div class="col-sm-6">
                    <label>Card Holder Name</label>
                    <input class="form-control" type="text" />
                </div>

                <div class="col-sm-6">

                    <label>Expiration Date</label>
                    <div class="row gy-2">
                        <div class="col-sm-6" align="center">
                            <select class="form-control">
                                <option disabled="disabled">---Month---</option>
                                <option value="January">Jan (01)</option>
                                <option value="February">Feb (02)</option>
                                <option value="March">Mar (03)</option>
                                <option value="April">Apr (04)</option>
                                <option value="May">May (05)</option>
                                <option value="June">Jun (06)</option>
                                <option value="July">Jul (07)</option>
                                <option value="August">Aug (08)</option>
                                <option value="September">Sep (09)</option>
                                <option value="October">Oct (10)</option>
                                <option value="November">Nov (11)</option>
                                <option value="December">Dec (12)</option>

                            </select>
                        </div>

                        <div class="col-sm-6">
                            <select class="form-control">
                                <option disabled="disabled">---Year---</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                                <option value="2031">2031</option>
                                <option value="2032">2032</option>
                                <option value="2033">2033</option>
                                <option value="2034">2034</option>
                                <option value="2035">2035</option>

                            </select>
                        </div>
                    </div>




                </div>


            </div>
            <div class="row my-3 mx-2 gy-4">
                <div class="col-sm-8">
                    <label>Card Number</label>
                    <input class="form-control" type="text" />
                </div>
                <div class="col-sm-4">
                    <label>CVC</label>
                    <input class="form-control" type="tel" />
                </div>
            </div>
            <div class="row my-4 mx-2">
                <div class="col-sm-12">
                    <button class="form-control booking-payment-method-button-fix" [disabled]="showLoading"
                        (click)="onAddBookingCreditCardPaymentInfo()"
                        style=" flex-grow: 1; flex-shrink: 1; flex-basis: auto; ">
                        <i class="fa fa-spinner fa-spin " *ngIf="showLoading "></i>&nbsp;&nbsp;
                        <span *ngIf="showLoading===true ">Loading...</span> <span
                            *ngIf="showLoading !==true ">Proceed</span>
                    </button>
                </div>

            </div>

            <div class="row my-3 mx-2">
                <div class="col-sm-12" align="center">
                    <h1>OR</h1>
                </div>
            </div>

            <div class="row mt-3 mb-5 mx-2 gy-3">

                <div class="col-sm-3" align="center">
                    <button type="button" class="btn booking-payment-method-btn-fix" style="color:inherit;"
                        (click)="onAddBookingPaymentInfo(paypal)"><span
                            class="fa fa-paypal"></span>&nbsp;{{paypal}}</button>
                </div>
                <div class="col-sm-3" align="center">
                    <button class="btn booking-payment-method-btn-fix" style="color:inherit;"
                        (click)="onAddBookingPaymentInfo(zelle)"><img src="/assets/customImage/Zelle_(Icon).webp"
                            height="16px" width="20px" />&nbsp;{{zelle}}</button>
                </div>
                <div class="col-sm-3" align="center">
                    <button class="btn booking-payment-method-btn-fix" style="color:inherit;"
                        (click)="onAddBookingPaymentInfo(cashApp)" value="Cash App"><img
                            src="/assets/customImage/cashAppIcon.jpeg" height="15px"
                            width="20px" />&nbsp;{{cashApp}}</button>
                </div>
                <div class="col-sm-3" align="center">
                    <button class="btn booking-payment-method-btn-fix" style="color:inherit;"
                        (click)="onAddBookingPaymentInfo(cashApp)" value="Venmo"><img
                            src="/assets/customImage/venmo_icon.webp" height="15px"
                            width="20px" />&nbsp;{{venmo}}</button>
                </div>
            </div>


        </div>

        <div class="col-md-3"></div>
    </div>


    <div class="row" *ngIf="showNewBookingSection">

        <div class="col-md-3 my-2">
            <a routerLink="/" style="color: inherit;"><span style="font-size: 25px;" class="fa fa-arrow-left"
                    aria-hidden="true"></span></a>
        </div>
        <div class="col-md-6 my-2">
            <div>
                <h2 class="mb-5" align="center">Add your Personal Details and Booking Address</h2>

                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control" placeholder="First Name" required
                            [(ngModel)]="bookingFirstName" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;" />
                    </div>

                </div>

                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control" placeholder="Last Name" required
                            [(ngModel)]="bookingLastName" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;" />
                    </div>

                </div>


                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="email" class="form-control" placeholder="Email Address" required
                            [(ngModel)]="bookingEmail" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;" />
                    </div>

                    <span class="help-block text-muted">Please use a valid email as the property owner will communicate
                        you through it.</span>
                </div>

                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Home Phone"
                            [(ngModel)]="bookingHomePhoneNumber"
                            style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                </div>

                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Cell Phone"
                            [(ngModel)]="bookingPhoneNumber" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                </div>


                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Country" [(ngModel)]="bookingCountry"
                            style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                </div>

                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="State" [(ngModel)]="bookingState"
                            style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                </div>


                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="City" [(ngModel)]="bookingCity"
                            style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>


                </div>

                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Street" [(ngModel)]="bookingStreet"
                            style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                </div>


                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Zip Code" [(ngModel)]="bookingZipCode"
                            style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>


                </div>



                <div class="row my-2 ">
                    <div class="col-md-12 ">
                        <p class="text-muted">When you book this property and make payment, your reservation will be
                            confirmed instantly.</p>

                    </div>

                </div>

                <div class="row my-4 ">
                    <div class="col-md-12 " style="display: flex; flex-direction: row;">

                        <button class="form-control booking-payment-method-button-fix" type="submit"
                            [disabled]="showLoading" (click)="onBookingPaymentForm()"
                            style=" flex-grow: 1; flex-shrink: 1; flex-basis: auto; ">
                            <i class="fa fa-spinner fa-spin " *ngIf="showLoading "></i>&nbsp;&nbsp;
                            <span *ngIf="showLoading===true ">Loading...</span> <span
                                *ngIf="showLoading !==true ">Request to Book</span>
                        </button>


                    </div>

                </div>
            </div>


        </div>
        <div class="col-md-3 "></div>
    </div>




</div>