<div class="container-fluid">
    <div class="row">
        <h1 align="center">
            <a class="navbar-brand" routerLink="/" style="color:inherit; font-size:3vmin;"><img src="/assets/customImage/bookingLogo.jpeg" height="50vmin" width="50vmin"/>&nbsp;<b>ValenceDirectBookingRentals</b></a>
        </h1>

        <hr />
        <div class="col-md-3 my-2">
            <a routerLink="/" style="color: inherit;"><span
				style="font-size: 25px;" class="fa fa-arrow-left" aria-hidden="true"></span></a>
        </div>
        <div class="col-md-6 my-2">
            <div>
                <h2 class="mb-5" align="center">Add your Personal Details and Booking Address</h2>

                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control" placeholder="First Name" required [(ngModel)]="bookingFirstName" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;" />
                    </div>

                </div>

                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control" placeholder="Last Name" required [(ngModel)]="bookingLastName" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;" />
                    </div>

                </div>


                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="email" class="form-control" placeholder="Email Address" required [(ngModel)]="bookingEmail" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;" />
                    </div>

                    <span class="help-block text-muted">Please use a valid email as the property owner will communicate you through it.</span>
                </div>

                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Home Phone" [(ngModel)]="bookingHomePhoneNumber" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                </div>

                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Cell Phone" [(ngModel)]="bookingPhoneNumber" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                </div>


                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Country" [(ngModel)]="bookingCountry" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                </div>

                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="State" [(ngModel)]="bookingState" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                </div>


                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="City" [(ngModel)]="bookingCity" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>


                </div>

                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Street" [(ngModel)]="bookingStreet" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                </div>


                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Zip Code" [(ngModel)]="bookingZipCode" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>


                </div>



                <div class="row my-2 ">
                    <div class="col-md-12 ">
                        <p class="text-muted">When you book this property and make payment, your reservation will be confirmed instantly.</p>

                    </div>

                </div>

                <div class="row my-4 ">
                    <div class="col-md-12 " style="display: flex; flex-direction: row;">

                        <button class="form-control " type="submit" [disabled]="showLoading" (click)="onBookingPaymentForm()" style=" flex-grow: 1; flex-shrink: 1; flex-basis: auto; ">
							<i class="fa fa-spinner fa-spin " *ngIf="showLoading "></i>&nbsp;&nbsp;
							<span *ngIf="showLoading===true ">Loading...</span> <span
								*ngIf="showLoading !==true ">Request Booking</span>
						</button>

                    </div>

                </div>
            </div>


        </div>
        <div class="col-md-3 "></div>
    </div>
</div>