<div class="container-fluid px-0">
    <!-- Start of Navbar -->
<app-navbar></app-navbar>
<!-- End of Navbar -->

    <div class="row mx-0 px-0">
        <div class="col-md-12 mx-0 px-0">
            <img src="/assets/customImage/vrbo-listyourproperty.jpg" width="100%" height="350px" />
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <p>
                    <small>Step 1 of 3</small>
                </p>
                <h2>
                    <b>See how much you could earn!</b>
                </h2>
                <p>Tell us about your property and see how much you could earn by renting your home on Vrbo.</p>
                <div class="row">
                    <div class="col-6">
                        <b>0 bedroom</b>
                    </div>
                    <div class="col-6">
                        <button>-</button>
                        <button>+</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-6">
                        <b>1 bathroom</b>
                    </div>
                    <div class="col-6">
                        <button>-</button>
                        <button>+</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a routerLink="/listing2" class="btn">Next</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" align="center">
            <h3>
                <b>Bring the right guests within reach</b>
            </h3>
            <p>Connect with millions of people whose purpose, taste and budget make your property the perfect place to stay.</p>
            <img src="/assets/customImage/vrbo_listing_icon.png" width="200px" height="200px" />
            <h4>
                <b>Access a world of travelers</b>
            </h4>

            <p>From long-range planners to last-minute bookers, bring travelers to your door from around the world.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" align="center">
            <img src="/assets/customImage/vrbo_listing_icon2.png" width="200px" height="200px" />
            <h4>
                <b>Attract your ideal guests</b>
            </h4>

            <p>Book your ideal guests—travelers who delight in what you provide and want to return again and again.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" align="center">
            <img src="/assets/customImage/vrbo_listing_icon3.png" width="200px" height="200px" />
            <h4>
                <b>Grow your business</b>
            </h4>
            <p>Make decisions based on real-time data, be more competitive & help increase visibility and bookings.</p>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>