<div class="container my-5">
    <div class="row">
        <div class="col-md-10 my-5" style="color: #2A404A;">
            <h2>Get inspired for a family trip</h2>
            <p>Book home with space, convenience and amenities</p>
        </div>
    </div>
    <div class="row gy-3">
        <div class="col-md-6">
            <figure>
                <img src="/assets/customImage/vrbo_getInspired1.jpg" width="100%" height="300px" />
                <figcaption class="figure-caption-fix mx-2">
                    <b>On the beach</b>
                </figcaption>
            </figure>

        </div>
        <div class="col-md-6">
            <div class="row mb-2 gy-3">
                <div class="col-sm-6">
                    <figure>
                        <img src="/assets/customImage/vrbo_getInspired2.jpg" width="100%" height="150px" />
                        <figcaption class="figure-caption-fix mx-2">
                            <b>Pets welcome</b>
                        </figcaption>
                    </figure>

                </div>
                <div class="col-sm-6">
                    <figure>
                        <img src="/assets/customImage/vrbo_getInspired3.jpg" width="100%" height="150px" />
                        <figcaption class="figure-caption-fix mx-2">
                            <b>Swimming pools</b>
                        </figcaption>
                    </figure>

                </div>
            </div>
            <div class=" row mt-2 gy-3">
                <div class="col-sm-6 ">
                    <figure>
                        <img src="/assets/customImage/vrbo_getInspired4.jpg" width="100% " height="150px " />
                        <figcaption class="figure-caption-fix ms-2">
                            <b>Homes with free cancellation</b>
                        </figcaption>
                    </figure>

                </div>
                <div class="col-sm-6 ">
                    <figure>
                        <img src="/assets/customImage/vrbo_getInspired5.jpg" width="100% " height="150px " />
                        <figcaption class="figure-caption-fix ms-2">
                            <b>More than 3 bedrooms</b>
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>

    </div>
    
</div>