<!-- Start of Navbar -->
<app-navbar></app-navbar>
<!-- End of Navbar -->

<!-- Start of Searchbar -->
<app-search-bar></app-search-bar>
<!-- End of Searchbar -->

<app-search-bar-medium-display class="custom-font-size"></app-search-bar-medium-display>

<!--  Start of GetInspiredForFamilyTrip -->
<app-get-inspired-for-family-trip>
</app-get-inspired-for-family-trip>
<!-- End of GetInspiredForFamilyTrip -->
<!-- Find spaces that suit your style -->
<app-findspacesthatsuityourstyle></app-findspacesthatsuityourstyle>
<!-- MoreInfo like Peace of mind and others-->
<app-more-infolike-peaceofmind></app-more-infolike-peaceofmind>
<!-- List your property -->
<app-list-your-property>
</app-list-your-property>
<!-- Discover what virbo is about -->
<app-discover-about>
</app-discover-about>
<!-- Footer -->
<app-footer></app-footer>