<!-- Start of Navbar -->
<app-navbar></app-navbar>
<!-- End of Navbar -->

<div class="container-fluid mb-5 px-0">
    
    <div class="row mx-0 px-0">
        <div class="col-md-12 mx-0 px-0">
            <img src="/assets/customImage/vrbo-listyourproperty.jpg" width="100%" height="350px" />
        </div>
    </div>
</div>
<div class="container my-5">
    <h2>Add a New Property</h2>

    <div class="row my-3" [hidden]="showAddPropertySection">

        <div class="col-md-10">
            <form #addNewPropertyForm="ngForm" (ngSubmit)="onAddNewProperty(addNewPropertyForm.value)">
                <div class="card my-2 card-fix">
                    <div class="row my-2 mx-2">
                        <div class="col-sm-12">
                          <!--  <input type="text" class="form-control" placeholder="Enter Property Type" required ngModel name="propertyType" #propertyTypeInput="ngModel" /> -->
                            <label for="PropertyType" class="text-muted my-2">Enter Property Type</label>
                            <select id="PropertyType" class="form-control" required ngModel name="propertyType" #propertyTypeInput="ngModel">

                                <option value="House">House</option>
                                <option value="Bungalows">Bungalows</option>
                                <option value="Cabins">Cabins</option>
                                <option value="Caravans">Caravans</option>
                                <option value="Condos/Apartments">Condos/Apartments</option>
                                <option value="Cottages">Cottages</option>
                                <option value="FarmHouses">Farm Houses</option>
                                <option value="GuestHouses">Guest Houses</option>
                                <option value="Hotels">Hotels</option>
                                <option value="Lodges">Lodges</option>
                                <option value="Resorts">Resorts</option>
                                <option value="TownHouses">Town Houses</option>
                                <option value="Villas">Villas</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="row my-2 mx-2">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Enter Property Name" required ngModel name="name" #propertyNameInput="ngModel" />
                        </div>
                    </div>
                    <div class="row my-2 mx-2">
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>

                                </div>
                                <input type="number" class="form-control" required ngModel name="propertyPrice" #propertyPriceInput="ngModel" aria-label="Dollar amount (with dot and two decimal places)" step="0.01" placeholder="Property Cost" />
                            </div>

                        </div>
                    </div>

                    <div class="row my-2 mx-2">
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>

                                </div>
                                <input type="number" class="form-control" required ngModel name="propertyTax" #propertyTaxInput="ngModel" aria-label="Dollar amount (with dot and two decimal places)" step="0.01" placeholder="Tax" />
                            </div>

                        </div>
                    </div>

                    <div class="row my-2 mx-2">
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>

                                </div>
                                <input type="number" class="form-control" required ngModel name="propertyServiceFee" #propertyServiceFeeInput="ngModel" aria-label="Dollar amount (with dot and two decimal places)" step="0.01" placeholder="Service Fee" />
                            </div>

                        </div>
                    </div>

                    <div class="row my-2 mx-2">
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>

                                </div>
                                <input type="number" class="form-control" required ngModel name="propertyCleaningFee" #propertyCleaningFeeInput="ngModel" aria-label="Dollar amount (with dot and two decimal places)" step="0.01" placeholder="Cleaning Fee" />
                            </div>

                        </div>
                    </div>

                </div>

                <div class="card my-5 card-fix">
                    <div class="row my-2 mx-2">
                        <div class="col-sm-12" style="display: flex; flex-direction: row;">
                            <input type="text" required class="form-control fa" placeholder="&#xF041; Country" ngModel name="propertyCountry" #propertyCountryInput="ngModel" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;" />
                        </div>
                    </div>
                    <div class="row my-2 mx-2">
                        <div class="col-sm-12" style="display: flex; flex-direction: row;">
                            <input type="text" required class="form-control fa" placeholder="Street Address" ngModel name="propertyAddress" #propertyAddressInput="ngModel" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;" />
                        </div>
                    </div>
                    <div class="row my-2 mx-2">
                        <div class="col-sm-12" style="display: flex; flex-direction: row;">
                            <input type="text" required class="form-control fa" placeholder="City" ngModel name="propertyCity" #propertyCityInput="ngModel" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;" />
                        </div>
                    </div>
                    <div class="row my-2 mx-2">
                        <div class="col-sm-6" style="display: flex; flex-direction: row;">
                            <input type="text" required class="form-control fa" placeholder="State" ngModel name="propertyState" #propertyStateInput="ngModel" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;" />
                        </div>
                        <div class="col-sm-6" style="display: flex; flex-direction: row;">
                            <input type="number" required class="form-control fa" placeholder="Zip Code" ngModel name="propertyZipCode" #propertyZipCodeInput="ngModel" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;" />
                        </div>
                    </div>


                </div>

                <div class="card my-5 card-fix">
                    <div class="row my-2 mx-2">
                        <div class="col-sm-12">
                           <textarea rows="10" class="form-control" placeholder="Property Description" required ngModel name="description" #descriptionInput="ngModel"></textarea>
                           
                        </div>
                    </div>

                    <div class="row my-2 mx-2">
                        <span style ="color:red">I am still working on review, other functions working perfectly.</span>
                        <div class="col-sm-12">
                           <input class="form-control" placeholder="Add Review" required ngModel name="review" #reviewInput="ngModel" />
                           
                        </div>
                    </div>


                    <div class="row my-2 mx-2">
                        <div class="col-md-12">
                            <button type="submit" [disabled]="addNewPropertyForm.invalid || showLoading" class="form-control addNewProperty-button-fix">
								<i class="fa fa-spinner fa-spin " *ngIf="showLoading "></i>&nbsp;&nbsp;
								<span *ngIf="showLoading === true ">Loading...</span> <span
									*ngIf="showLoading !== true ">Add</span>
							</button>
                        </div>

                    </div>


                </div>

            </form>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-10">
            <div class = "card my-4 card-fix" *ngIf="showImageUpload">
                
                <div class = "card-body my-2 mx-2">
                    <h5 class = "card-title">Add Property Image <small class="text-muted">Max Image Size <= 3MB</small></h5>
                    <div *ngIf="showImageUpload">

                        <div class="row my-1 mx-1">
                            <div class="col-sm-12">
        
        
                            </div>
                        </div>
                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected1($any($event).target.files[0])" name="propertyImage1" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading1"></i>&nbsp;&nbsp;
                                <span *ngIf="picture1showLoading">Uploading...</span>
                                <span *ngIf="picture1showLoading === false">Completed</span>
                            </div>
                        </div>
                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected2($any($event).target.files[0])" name="propertyImage2" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading2"></i>&nbsp;&nbsp;
                                <span *ngIf="picture2showLoading">Uploading...</span>
                                <span *ngIf="picture2showLoading === false">Completed</span>
                            </div>
                        </div>
                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected3($any($event).target.files[0])" name="propertyImage3" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading3"></i>&nbsp;&nbsp;
                                <span *ngIf="picture3showLoading">Uploading...</span>
                                <span *ngIf="picture3showLoading === false">Completed</span>
                            </div>
                        </div>
        
                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected4($any($event).target.files[0])" name="propertyImage4" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading4"></i>&nbsp;&nbsp;
                                <span *ngIf="picture4showLoading">Uploading...</span>
                                <span *ngIf="picture4showLoading === false">Completed</span>
                            </div>
                        </div>
        
                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected5($any($event).target.files[0])" name="propertyImage5" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading5"></i>&nbsp;&nbsp;
                                <span *ngIf="picture5showLoading">Uploading...</span>
                                <span *ngIf="picture5showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected6($any($event).target.files[0])" name="propertyImage6" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading6"></i>&nbsp;&nbsp;
                                <span *ngIf="picture6showLoading">Uploading...</span>
                                <span *ngIf="picture6showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected7($any($event).target.files[0])" name="propertyImage7" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading7"></i>&nbsp;&nbsp;
                                <span *ngIf="picture7showLoading">Uploading...</span>
                                <span *ngIf="picture7showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected8($any($event).target.files[0])" name="propertyImage8" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading8"></i>&nbsp;&nbsp;
                                <span *ngIf="picture8showLoading">Uploading...</span>
                                <span *ngIf="picture8showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected9($any($event).target.files[0])" name="propertyImage9" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading9"></i>&nbsp;&nbsp;
                                <span *ngIf="picture9showLoading">Uploading...</span>
                                <span *ngIf="picture9showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected10($any($event).target.files[0])" name="propertyImage10" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading10"></i>&nbsp;&nbsp;
                                <span *ngIf="picture10showLoading">Uploading...</span>
                                <span *ngIf="picture10showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected11($any($event).target.files[0])" name="propertyImage11" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading11"></i>&nbsp;&nbsp;
                                <span *ngIf="picture11showLoading">Uploading...</span>
                                <span *ngIf="picture11showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected12($any($event).target.files[0])" name="propertyImage12" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading12"></i>&nbsp;&nbsp;
                                <span *ngIf="picture12showLoading">Uploading...</span>
                                <span *ngIf="picture12showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected13($any($event).target.files[0])" name="propertyImage13" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading13"></i>&nbsp;&nbsp;
                                <span *ngIf="picture13showLoading">Uploading...</span>
                                <span *ngIf="picture13showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected14($any($event).target.files[0])" name="propertyImage14" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading14"></i>&nbsp;&nbsp;
                                <span *ngIf="picture14showLoading">Uploading...</span>
                                <span *ngIf="picture14showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected15($any($event).target.files[0])" name="propertyImage15" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading15"></i>&nbsp;&nbsp;
                                <span *ngIf="picture15showLoading">Uploading...</span>
                                <span *ngIf="picture15showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected16($any($event).target.files[0])" name="propertyImage16" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading16"></i>&nbsp;&nbsp;
                                <span *ngIf="picture16showLoading">Uploading...</span>
                                <span *ngIf="picture16showLoading === false">Completed</span>
                            </div>
                        </div>


                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected17($any($event).target.files[0])" name="propertyImage17" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading17"></i>&nbsp;&nbsp;
                                <span *ngIf="picture17showLoading">Uploading...</span>
                                <span *ngIf="picture17showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected18($any($event).target.files[0])" name="propertyImage18" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading18"></i>&nbsp;&nbsp;
                                <span *ngIf="picture18showLoading">Uploading...</span>
                                <span *ngIf="picture18showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected19($any($event).target.files[0])" name="propertyImage19" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading19"></i>&nbsp;&nbsp;
                                <span *ngIf="picture19showLoading">Uploading...</span>
                                <span *ngIf="picture19showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected20($any($event).target.files[0])" name="propertyImage20" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading20"></i>&nbsp;&nbsp;
                                <span *ngIf="picture20showLoading">Uploading...</span>
                                <span *ngIf="picture20showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected21($any($event).target.files[0])" name="propertyImage21" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading21"></i>&nbsp;&nbsp;
                                <span *ngIf="picture21showLoading">Uploading...</span>
                                <span *ngIf="picture21showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected22($any($event).target.files[0])" name="propertyImage22" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading22"></i>&nbsp;&nbsp;
                                <span *ngIf="picture22showLoading">Uploading...</span>
                                <span *ngIf="picture22showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected23($any($event).target.files[0])" name="propertyImage23" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading23"></i>&nbsp;&nbsp;
                                <span *ngIf="picture23showLoading">Uploading...</span>
                                <span *ngIf="picture23showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected24($any($event).target.files[0])" name="propertyImage24" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading24"></i>&nbsp;&nbsp;
                                <span *ngIf="picture24showLoading">Uploading...</span>
                                <span *ngIf="picture24showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected25($any($event).target.files[0])" name="propertyImage25" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading25"></i>&nbsp;&nbsp;
                                <span *ngIf="picture25showLoading">Uploading...</span>
                                <span *ngIf="picture25showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected26($any($event).target.files[0])" name="propertyImage26" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading26"></i>&nbsp;&nbsp;
                                <span *ngIf="picture26showLoading">Uploading...</span>
                                <span *ngIf="picture26showLoading === false">Completed</span>
                            </div>
                        </div>


                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected27($any($event).target.files[0])" name="propertyImage27" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading27"></i>&nbsp;&nbsp;
                                <span *ngIf="picture27showLoading">Uploading...</span>
                                <span *ngIf="picture27showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected28($any($event).target.files[0])" name="propertyImage28" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading28"></i>&nbsp;&nbsp;
                                <span *ngIf="picture28showLoading">Uploading...</span>
                                <span *ngIf="picture28showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected29($any($event).target.files[0])" name="propertyImage29" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading29"></i>&nbsp;&nbsp;
                                <span *ngIf="picture29showLoading">Uploading...</span>
                                <span *ngIf="picture29showLoading === false">Completed</span>
                            </div>
                        </div>

                        <div class="row my-3 gy-3 mx-1">
                            <div class="col-sm-7">
                                <input type="file" class="form-control" (change)="onFileSelected30($any($event).target.files[0])" name="propertyImage30" />
                            </div>
                            <div class="col-sm-5">
                                <i class="fa fa-spinner fa-spin " *ngIf="pictureShowLoading30"></i>&nbsp;&nbsp;
                                <span *ngIf="picture30showLoading">Uploading...</span>
                                <span *ngIf="picture30showLoading === false">Completed</span>
                            </div>
                        </div>

                       
                    </div>
                </div>
                <div class="card-footer" align="right"><button class="addNewProperty-button-fix" routerLink="/propertydetails/{propertyId}">Done</button></div>
            </div>
            

        </div>
    </div>

</div>