/*@import './node_modules/font-awesome/css/font-awesome.css';/*node_modules\font-awesome\css\font-awesome.css*/

.card-fix {
    box-shadow: 2px 5px lightgray;
}

.addNewProperty-button-fix {
    background-color: #172C57;
    color: #F8F7F5;
    border-radius: 25px;
    padding: 5px 20px 5px 20px;
}