<div class="container-fluid listYourProperty-body-fix my-5" style="width: 100%; height: 85vmin">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 listYourProperty-inner-fix">
            <div class="vertical-center_list_your_property" align="center">
                <h2 style="color:black;">List your property on Vrbo and open your door to rental income.
                </h2>
                <a routerLink="/listing2" class=" btn listYourProperty-button-fix my-3 ">List your property</a>
            </div>
        </div>
        <div class="col-md-2 "></div>
    </div>
</div>