<!-- Start of Navbar -->
<app-navbar></app-navbar>
<!-- End of Navbar -->

<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Contact Owner</h2>
            <h3><b>Property:</b> {{propertyName}}</h3>
            <form #contactPropertyOwnerForm="ngForm" (ngSubmit)="onContactPropertyOwner(contactPropertyOwnerForm)">
                <div class="row my-4 gy-4">
                    <div class="col-md-6">
                        <input required type="text" class="form-control" name="firstname" [(ngModel)]="user.firstname"
                            placeholder="First Name" />
                    </div>
                    <div class="col-md-6">
                        <input required type="text" class="form-control" name="lastname" [(ngModel)]="user.lastname"
                            placeholder="Last Name" />
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-md-12">
                        <input required type="text" class="form-control" name="email" [(ngModel)]="user.email"
                            placeholder="Email" />
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-md-12">
                        <input required type="text" class="form-control" name="phonenumber" [(ngModel)]="user.phone"
                            placeholder="Phone Number" />
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-md-12">
                        <input required type="text" class="form-control" name="subject" ngModel placeholder="Subject" />
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-md-12 form-group">
                        <label>Your Enquiries</label>
                        <textarea required rows="10" class="form-control" name="problemInView" ngModel></textarea>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="submit" class="form-control support-button-fix">
                            <i class="fa fa-spinner fa-spin " *ngIf="contactPropertyOwnerRefreshing"></i>&nbsp;&nbsp;
                            <span *ngIf="contactPropertyOwnerRefreshing === true">Loading...</span> <span
                                *ngIf="contactPropertyOwnerRefreshing !==true">Submit</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>