<div class="container my-5">
    <div class="row gy-3">
        <div class="col-md-3 " style="color:#2A404A;">
            <p><span class="fa fa-expeditedssl" aria-hidden="true" style="font-size:26px;"></span></p>
            <p>
                <b>Peace of mind</b>
            </p>
            <p style="letter-spacing: 1px; line-height: 1.5;">Our Book with Confidence guarantee gives you 24/7 support.
            </p>
        </div>
        <div class="col-md-3" style="color: #2A404A;">
            <p><span class="fa fa-coffee" aria-hidden="true" style="font-size:26px;"></span></p>
            <p>
                <b>All the privacy of home</b>
            </p>
            <p>Enjoy full kitchens, laundry, pools, yards and more.</p>
        </div>
        <div class="col-md-3" style="color: #2A404A;">
            <p><span class="fa fa-tasks" aria-hidden="true" style="font-size:26px;"></span></p>
            <p>
                <b>More for less</b>
            </p>
            <p style="letter-spacing: 1px; line-height: 1.5;">More space, more privacy, more amenities — more value.</p>
        </div>
        <div class="col-md-3" style="color: #2A404A;">
            <p><span class="fa fa-gratipay" aria-hidden="true" style="font-size:26px;"></span></p>
            <p>
                <b>A place for everyone</b>
            </p>
            <p style="letter-spacing: 1px; line-height: 1.5;">
                We stand for diversity, inclusion and families everywhere. <a>Learn
                    more</a>
            </p>
        </div>
    </div>
</div>