<div class="container-fluid">
    <div class="row">
        <a class="navbar-brand" routerLink="/" style="color:inherit; font-size:3vmin;"><img src="/assets/customImage/bookingLogo.jpeg" height="50vmin" width="50vmin"/>&nbsp;<b>ValenceDirectBookingRentals</b></a>
        <hr />
        <div class="col-md-3 my-2">
            <a routerLink="/" style="color: inherit;" class="privacyPolicyDisplay"><span
				style="font-size: 25px;" class="fa fa-arrow-left" aria-hidden="true"></span></a>
        </div>
        <div class="col-md-6 my-2">
            <h3 class="mb-3" align="center">
                Privacy Policy
            </h3>
            
            <div class="row my-2">
                <div class="col-md-12" >
                    <p>When you create an account on our sites, sign up to receive offers or information, or make a booking using our platform. We may collect the following kinds of personal information from you as needed:</p>
                    <ul>
                        <li>Name</li>
                        <li>Email address </li>
                        <li>Telephone number </li>
                        <li>Home or Business Address </li>
                        <li>Government Issued Identification required for booking or Identity Verification, such as passport, driver’s license etc.</li>
                        <li>Travel-related preferences and requests such as favorite destination and accommodations types.</li>
                        <li>Age and Gender </li>
                        <li>Geolocation </li>
                    </ul>
                    <p>Your personal information can only be used to assist you concerning vacation rental purposes or to book your travels, communicate with you and to link you directly with the rentals owners.</p>
                    <p>Your information is safe with us as we can only use it for for legal purposes travel insurance or taxes quotation.
                        We will only use your sensitive personal information for the purpose for which it was collected 
                        </p>
                    <br/>
                    <p>We may update this statement in response to changing laws or technical or business developments.</p>
                </div>

            </div>


        </div>
        <div class="col-md-3"></div>
    </div>
</div>







