<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="my-5" style="color: #2A404A;">Find spaces that suit your style</h2>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType1}}" style="text-decoration:none;"><img src="/assets/customImage/vrbo_getspaces1.jpg" class="card-img-top" alt="{{houseType1}}"></a>
                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType1}}" style="text-decoration:none;">
                                    <h6 class="card-title" style="color: #2A404A; ">
                                        <b>Houses</b>
                                    </h6>
                                </a>


                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType2}}" style="text-decoration:none;"> <img src="/assets/customImage/vrbo_getspaces_bungalows.jpg" class="card-img-top" alt="{{houseType2}}"></a>
                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType2}}" style="text-decoration:none;">
                                    <h6 class="card-title" style="color:#2A404A;"><b>Bungalows</b></h6>
                                </a>

                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType3}}" style="text-decoration:none;">
                            <img src="/assets/customImage/vrbo_getspaces_cabins.jpg" class="card-img-top" alt="{{houseType3}}">
                            </a>
                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType3}}" style="text-decoration:none;">
                                    <h6 class="card-title" style="color:#2A404A;"><b>Cabins</b></h6>
                                </a>

                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType4}}" style="text-decoration:none;">
                            <img src="/assets/customImage/vrbo_getspaces_caravan.jpg" class="card-img-top" alt="{{houseType4}}">
                        </a>
                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType4}}" style="text-decoration:none;">
                                    <h6 class="card-title" style="color:#2A404A;"><b>Caravans</b></h6>
                                </a>

                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType5}}" style="text-decoration:none;">
                                <img src="/assets/customImage/vrbo_getspaces_combos.jpg" class="card-img-top" alt="{{houseType5}}">
                            </a>

                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType5}}" style="text-decoration:none;">
                                    <h6 class="card-title" style="color:#2A404A;"><b>Condos/Apartments</b></h6>
                                </a>

                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType6}}" style="text-decoration:none;">
                                <img src="/assets/customImage/vrbo_getSpaces_cottages.jpg" class="card-img-top" alt="{{houseType6}}">
                            </a>
                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType6}}" style="text-decoration:none;">
                                <h6 class="card-title" style="color:#2A404A;"><b>Cottages</b></h6>
                                </a>

                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType7}}" style="text-decoration:none;">
                            <img src="/assets/customImage/vrbo_getspaces_farmhouses.jpg" class="card-img-top" alt="{{houseType7}}">
                            </a>
                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType7}}" style="text-decoration:none;">
                                <h6 class="card-title" style="color:#2A404A;"><b>Farm Houses</b></h6>
                                </a>


                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType8}}" style="text-decoration:none;">
                            <img src="/assets/customImage/vrbo_getspaces_guesthouse.jpg" class="card-img-top" alt="{{houseType8}}">
                            </a>
                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType8}}" style="text-decoration:none;">
                                <h6 class="card-title" style="color:#2A404A;"><b>Guest Houses</b></h6>
                                </a>

                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType9}}" style="text-decoration:none;">
                            <img src="/assets/customImage/vrbo_getspaces_hotels.jpg" class="card-img-top" alt="{{houseType9}}">
                            </a>
                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType9}}" style="text-decoration:none;">
                                <h6 class="card-title" style="color:#2A404A;"><b>Hotels</b></h6>
                                </a>


                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType10}}" style="text-decoration:none;">
                            <img src="/assets/customImage/vrbo_getspaces_lodges.jpg" class="card-img-top" alt="{{houseType10}}">
                            </a>
                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType10}}" style="text-decoration:none;">
                                <h6 class="card-title" style="color:#2A404A;"><b>Lodges</b></h6>
                                </a>


                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType11}}" style="text-decoration:none;">
                            <img src="/assets/customImage/vrbo_getspaces_resorts.jpg" class="card-img-top" alt="{{houseType11}}">
                            </a>
                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType11}}" style="text-decoration:none;">
                                <h6 class="card-title" style="color:#2A404A;"><b>Resorts</b></h6>
                                </a>


                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType12}}" style="text-decoration:none;">
                            <img src="/assets/customImage/vrbo_getSpaces_townhouses.jpg" class="card-img-top" alt="{{houseType12}}">
                            </a>
                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType12}}" style="text-decoration:none;">
                                <h6 class="card-title" style="color:#2A404A;"><b>Town Houses</b></h6>
                                </a>


                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="mx-2">
                        <div class="card" style="width: 100%;">
                            <a routerLink="/findSpacesThatSuitYouInner/{{houseType13}}" style="text-decoration:none;">
                            <img src="/assets/customImage/vrbo_getspaces_villas.jpg" class="card-img-top" alt="{{houseType13}}">
                            </a>
                            <div class="card-body">
                                <a routerLink="/findSpacesThatSuitYouInner/{{houseType13}}" style="text-decoration:none;">
                                <h6 class="card-title" style="color:#2A404A;"><b>Villas</b></h6>
                                </a>


                            </div>
                        </div>

                    </div>
                </ng-template>


            </owl-carousel-o>

        </div>
    </div>
</div>