<div class="row my-3 mx-2">
    <div class="col-sm-12 my-2">

        <h2 class="mb-5">Billing Address</h2>

        <div class="row my-4">

            <div class="col-sm-12" style="display: flex; flex-direction: row;">
                <input type="text" class="form-control " placeholder="Address Line 1"
                    style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
            </div>

        </div>

        <div class="row my-4">

            <div class="col-sm-12" style="display: flex; flex-direction: row;">
                <input type="text" class="form-control " placeholder="Address Line 2"
                    style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
            </div>

        </div>

        <div class="row my-4">

            <div class="col-sm-12" style="display: flex; flex-direction: row;">
                <input type="text" class="form-control " placeholder="City"
                    style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
            </div>


        </div>

        <div class="row my-4">

            <div class="col-sm-12" style="display: flex; flex-direction: row;">
                <input type="text" class="form-control " placeholder="State"
                    style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
            </div>

        </div>

        <div class="row my-4">

            <div class="col-sm-12" style="display: flex; flex-direction: row;">
                <input type="text" class="form-control " placeholder="Zip Code"
                    style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
            </div>


        </div>


        <div class="row my-4">

            <div class="col-sm-12" style="display: flex; flex-direction: row;">
                <input type="text" class="form-control " placeholder="Country"
                    style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
            </div>

        </div>

        <!--  
        <div class="row my-4">
            <div class="col-sm-12">
                <button class="form-control booking-payment-method-button-fix" [disabled]="showLoading"
                    (click)="onAddCreditCardPaymentInfo()"
                    style=" flex-grow: 1; flex-shrink: 1; flex-basis: auto; ">
                    <i class="fa fa-spinner fa-spin " *ngIf="showLoading "></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading===true ">Loading...</span> <span
                        *ngIf="showLoading !==true ">Proceed</span>
                </button>
            </div> 

        </div>

        -->

    </div>
</div>