<div class="container" *ngIf="showBillingSectionFromParent">

    <div class="row my-3 mx-2">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 my-2 card">
            <form #billingAddressForm="ngForm" (ngSubmit)="onSubmitBillingAddressForm(billingAddressForm)">
                <div class="row my-2">
                    <div class="col-md-12" align="center">
                        <h2>Billing Address</h2>
                    </div>
                </div>

                <div class="row my-4 mx-2">

                    <div class="col-sm-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Address Line 1"
                            name="paymentMethodBillingAddressLine1" ngModel required
                            #paymentMethodBillingAddressLine1Input="ngModel"
                            style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                    <small
                        *ngIf="paymentMethodBillingAddressLine1Input.touched && paymentMethodBillingAddressLine1Input.invalid"
                        style="color:red;" class="my-1">Billing Address is Empty</small>

                </div>

                <div class="row my-4 mx-2">

                    <div class="col-sm-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Address Line 2 (Optional)"
                            name="paymentMethodBillingAddressLine2" ngModel
                            style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                </div>

                <div class="row my-4 mx-2">

                    <div class="col-sm-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="City" name="paymentMethodBillingCity"
                            #paymentMethodBillingCityInput="ngModel" required ngModel
                            style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                    <small *ngIf="paymentMethodBillingCityInput.touched && paymentMethodBillingCityInput.invalid"
                        style="color:red;" class="my-1">Billing City is Empty</small>

                </div>

                <div class="row my-4 mx-2">

                    <div class="col-sm-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="State" name="paymentMethodBillingState"
                            #paymentMethodBillingStateInput="ngModel" required ngModel
                            style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                    <small *ngIf="paymentMethodBillingStateInput.touched && paymentMethodBillingStateInput.invalid"
                        style="color:red;" class="my-1">Billing State is Empty</small>


                </div>

                <div class="row my-4 mx-2">

                    <div class="col-sm-12" style="display: flex; flex-direction: row;">
                        <input type="tel" class="form-control " placeholder="Zip Code"
                            name="paymentMethodBillingZipCode" #paymentMethodBillingZipCodeInput="ngModel" required
                            ngModel style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                    <small *ngIf="paymentMethodBillingZipCodeInput.touched && paymentMethodBillingZipCodeInput.invalid"
                        style="color:red;" class="my-1">Billing ZipCode is Empty</small>

                </div>


                <div class="row my-4 mx-2">

                    <div class="col-sm-12" style="display: flex; flex-direction: row;">
                        <input type="text" class="form-control " placeholder="Country"
                            name="paymentMethodBillingCountry" #paymentMethodBillingCountryInput="ngModel" required
                            ngModel style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
                    </div>

                    <small *ngIf="paymentMethodBillingCountryInput.touched && paymentMethodBillingCountryInput.invalid"
                        style="color:red;" class="my-1">Billing Country is Empty</small>

                </div>


                <div class="row my-4 mx-2">
                    <div class="col-sm-12">
                        <button type="submit" class="form-control billing-address-button-fix"
                            [disabled]="showLoading || billingAddressForm.invalid"
                            style=" flex-grow: 1; flex-shrink: 1; flex-basis: auto; ">
                            <i class="fa fa-spinner fa-spin " *ngIf="showLoading "></i>&nbsp;&nbsp;
                            <span *ngIf="showLoading===true ">Loading...</span> <span
                                *ngIf="showLoading !==true ">Proceed</span>
                        </button>
                    </div>

                </div>

            </form>
        </div>
        <div class="col-sm-3"></div>

    </div>
</div>