<!-- Start of Navbar -->
<app-navbar></app-navbar>
<!-- End of Navbar -->



<div class="card my-5 mx-2" style="max-width: 700px;" *ngFor="let propertyEach of properties">
    <div class="row">
        <div class="col-md-4">
            <img [src]="propertyEach.propertyImageUrl[0]" class="d-block w-100" alt="...">

        </div>
        <div class="col-md-8">
            <a routerLink="/propertydetails/{{propertyEach.id}}" style="color:inherit; text-decoration:none;">
                <div class="card-body" style="font-size:inherit;">
                    <h3 class="card-subtitle">{{propertyEach.propertyType}}</h3>
                    <h3 class="card-title">
                        <b>{{propertyEach.name}}</b>
                    </h3>

                    <p class="card-text">
                        <small class="text-muted">$&nbsp;{{propertyEach.propertyPrice}}</small>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">{{propertyEach.propertyAddress1}}
                            {{propertyEach.propertyAddress1}}, {{propertyEach.propertyState}},
                            {{propertyEach.propertyCountry}}</small>
                    </p>

                </div>
            </a>
        </div>
    </div>
</div>