<!-- Start of Navbar -->
<app-navbar></app-navbar>
<!-- End of Navbar -->



<div class="card my-3 mx-2" style="max-width: 700px;" *ngFor="let propertyEach of properties">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/azostore/image/upload/c_fill/bookingwebapp_1{{propertyEach.name}}{{propertyEach.id}}.jpg" class="d-block w-100" alt="...">

        </div>
        <div class="col-md-8">
            <a routerLink="/propertydetails/{{propertyEach.id}}" style="color:inherit; text-decoration:none;">
                <div class="card-body">
                    <h5 class="card-subtitle">{{propertyEach.propertyType}}</h5>
                    <h5 class="card-title">
                        <b>{{propertyEach.name}}</b>
                    </h5>

                    <p class="card-text">
                        <small class="text-muted">$&nbsp;{{propertyEach.propertyPrice}}</small>
                    </p>
                    <p class="card-text">{{propertyEach.description.substring(0, 100)}}...</p>
                </div>
            </a>
        </div>
    </div>
</div>