
<!-- Start of Navbar -->
<app-navbar></app-navbar>
<!-- End of Navbar -->

<div class = "container">
    <div class = "row">
        <div class = "col-md-12"></div>
    </div>
    <div class = "row">
        <div class = "col-md-6">
            <h3>Booking Address</h3>
            <p><b>Booking Id: </b></p>
            <p><b>Guest Name: </b></p>
            <p><b>Email Address: </b></p>
            <p><b>Phone Number: </b></p>
            <p><b>Cell Phone Nmber: </b></p>
        </div>
        <div class = "col-md-6">
            <h3>Rents Details</h3>
            <p><b>Property Name: </b></p>
            <p><b>Property Address: </b></p>
            <p><b>Check-in Date: </b></p>
            <p><b>Check-out Date: </b></p>
            <p><b>Total: </b></p>
        </div>

    </div>
    <div class = "row">
        <div class = "col-md-12">
            Property
        </div>
    </div>
</div>
