<div class="container-fluid">
    <div class="row">
        <h1 align="center">
            <b>Vrbo</b>

        </h1>

        <hr />
        <div class="col-md-3 my-2">
            <a routerLink="/" style="color: inherit;"><span
				style="font-size: 25px;" class="fa fa-arrow-left" aria-hidden="true"></span></a>
        </div>
        <div class="col-md-6 my-2">
            <h2 class="mb-5">Reset your password</h2>
            <p>Enter your email, and we’ll send you a link to reset your password.
            </p>
            <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
                <div class="row my-4">

                    <div class="col-md-12" style="display: flex; flex-direction: row;">
                        <input required="required" type="email" class="form-control" placeholder="Email Address" ngModel name="email" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;" />
                    </div>

                </div>



                <div class="row my-4">
                    <div class="col-md-12" style="display: flex; flex-direction: row;">

                        <button type="submit" [disabled]="false" class="form-control" style="color: inherit;" style="flex-grow: 1; flex-shrink: 1; flex-basis: auto;">
							<i *ngIf="refreshing" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;
							<span *ngIf="refreshing">Loading...</span> <span
								*ngIf="!refreshing">Send Reset Password</span>
						</button>

                    </div>

                </div>

            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>